@model MvcCrudApp.Models.Product
<h2>Edit Product</h2>
<form method="post">
    Name: <input type="text" asp-for="Name" /><br>
    Price: <input type="number" asp-for="Price" /><br>
    <button type="submit">Save</button>
</form>
<a href="/Product">Back to List</a>